* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: 'Arial';
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid #d0d0d0;
}

.header-image {
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    margin-left: 20px;
}

.header-logo {
    margin-left: 7px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

article {
    min-width: 300px;
    max-width: 700px;
    height: auto;
    margin-bottom: 40px;
}

article:last-child {
    margin-bottom: 0;
}

.article-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border: 1px solid #555555;
}

.article-header-delete {
    border: none;
    background-color: #fff;
    outline: none;
    font-size: 14px;
    color: #ff0000;
    font-weight: 700;
    transition: .3s;
}

.article-header-delete:hover {
    color: #ca0000;
}

.article-image {
    width: 100%
}

.add-article {
    display: block;
    padding: 6px 24px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #3cd03c;
    border-radius: 5px;
    text-transform: uppercase;
    color: #3cd03c;
    outline: none;
    transition: .3s;
}

.add-article:hover {
    background-color: #bdffbd;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: grey;
}

.popup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    padding: 20px;
    background-color: #fff;
}

.popup-title, .popup-url {
    outline: none;
    padding: 6px 12px;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.popup-close, .popup-submit {
    width: 90px;
    height: 35px;
    font-weight: 700;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 8px;
    transition: .3s;
    outline: none;
}

.popup-close {
    border: 1px solid #000;
}

.popup-submit {
    border: 1px solid #3cd03c;
    color: #3cd03c;
}

.popup-close:hover {
    background-color: #d0d0d0;
}

.popup-submit:hover {
    background-color: #b9ffb9;
}